
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #A0CCA6;
}

.gestionSolicitudes {
    padding: 15px;
    width: fit-content;
    margin: 10px auto;
    background-color: #B9CFB9;
    border-radius: 20px;
    margin-bottom: 80px; 
    overflow: hidden; 
    
}

.gestionSolicitudes div{
    padding:5px
}
/* Estilo formulario */
input[type=text],
textarea,
input[type=file],
input[type=tel],
input[type=radio] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=text],
select,
input[type=number],
input[type=date],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.column{
    float: left;
    padding: 5px;
}

#imgNegocio{
    height: 150px;
    width: 200px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}