body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #A0CCA6;
}

#carritoCompras{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin: 0 100px;
}

h3{
    margin-top: 15px;
    text-align: center;
}

.imagen{
    width: 160px;
}


td{
    padding: 15px;
}

table{
    width: 100%;
    margin: 10px auto;
    padding: 15px;
    background-color: #B9CFB9;
    border-radius: 20px;
    text-align: left;
}

.impuesto{
    border-top: solid #5D9367;
    text-align: end;
    width: auto;
}

#btnPagar{
    width: 15%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}


#select1{
    width: 75%;
}

#modal {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 100;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#modal::backdrop {
    background-color: rgba(0, 0, 0, .55);
}

#modal input[type="button"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer; 
    text-align: center;
    margin: 10px 0; 
}

input[type=number]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#modal-content{
    width: 80%;
    margin: auto;
    background-color: white;
    padding: 20px;
    overflow-y: auto;
    max-height: calc(100vh - 200px);
}
.footer{
    position: absolute;
}