
/* Estilos para el header */
header {
    background-color: #30353B;
    color: #fff;
    width: 100%;

}
.h-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    max-width: 1200px;
    margin: auto;
}


/* estilos para el footer */
.footer{
    padding: 50px 0;
    background-color: rgb(20, 20, 20);
    padding-bottom: 0%;

}

.footer-content{
    display: flex;
    justify-content: space-between;
}
/* Esto es parte de la clase para que el codigo quede con un margen igual --Solo lo use en el footer de momento */
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.link{
    color: #F9FAFC;
}

.link h2{
    font-size: 18px;
    color:#F9FAFC;
    margin-bottom: 15px;
}

li {
    margin-bottom: 15px;
    font-size: 16px;
}
/* cree un id redes para hacer que se vean en la misma linea */

#redes{
    display: inline-block;
    margin-right: 10px;
}

.icono{
    width: 35px;
    height: auto;
}
#logo{
    width: 150px;
}
#userimg{
    width: 75px;
    padding-left: 2px;
}


/* HTML DEL FOOTER */

/* 
<footer class="footer">
<div class="footer-content container">
    <div class="link">
        <h2>AlphaScript Technologies</h2>
        <ul>
            <img src="./img/AST PNG_Blanco.png" alt="Logo de la empresa" id="logo">
            <p id="textoFooter">Telefono: +5062252222</p>
            <p id="textoFooter">Whatsapp: +5062252222</p>
            <p></p>
            <p id="textoFooter">Correo Electrónico: info@alphascript.com</p>
            <p id="textoFooter">Dirección: 50 metros norte de Calle del Sufrimiento</p>
        </ul>
    </div>
    <div class="link listaRedes">
        <h2>Redes Sociales</h2>
        <ul>
            <li id="redes"><a href="https://www.facebook.com/InstitutoCostarricensedeTurismoOficial/" target="_blank"><img src="./img/facebookIcon.png" class="icono" ></a></li>
            <li id="redes"><a href="https://www.youtube.com/channel/UCf4vVKxVaYpRtmFaStDfQTw" target="_blank"><img src="./img/youtubeIcono.png" class="icono"></a></li>
            <li id="redes"><a href="https://www.instagram.com/oficial_ict/" target="_blank"><img src="./img/instagramIcon.png" class="icono"></a></li>
        </ul>
    </div>
    <div class="link">
        <h2>Sitios de interes</h2>
        <ul>
            <li ><a href="#" target="_blank">Inicio</a></li>
            <li ><a href="#" target="_blank">Hazte socio</a></li>
            <li ><a href="#" target="_blank">Resenas</a></li>
        </ul>
    </div>

</div>
</footer> */