/* Estilos generales */
body {
    font-family: Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Estilos header */
header {
    background-color: black;
    padding: 15px 20px; 
}
.izquierda {
    color: #9A44FC;
    font-size: 26px;
}






/* menu del header */
#navbar ul {
    display: flex; 
}
#navbar ul li a {
    color: white;
    list-style-type: none;
    text-decoration: none;
}
#navbar ul li a:hover {
    color: #9A44FC;
    cursor: pointer;
}



/* Estilos del logo */
#logoHeader {
    width: 100px;
}




/* Estilos para la sección del titulo */
#TituloPrincipal {
    background-image: url('../img/landingPageFondo.jpg');
    background-size: cover;
    text-align: center;
    padding: 100px 0;
}

.TituloPrincipal-content {
    max-width: 960px;
    margin: 0 auto;
    color: white;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}



.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
}

/* Estilos para el cuerpo */
#servicios, #proyecto ,#about {
    margin: 25px;
    margin-bottom: 70px;
}
#proyecto img{
    height: 400px;
    width: 400px;
}
#servicios, #proyecto ,#about {
    text-align: center;
    background-color: rgba(244, 244, 245, 0.7);
    
    border-radius: 10px;
    padding: 45px;
}
h2{
    font-size: 30px;
    padding-bottom:50px;
}
h3{
    padding-bottom:30px;
    text-align: left;
    margin-left: 40px;
    margin-right:40px ;
}
ul li{
    text-align: left;
    margin-left: 40px;
    margin-right:40px ;
}
#contacto p{
    text-align: center;
}

#proyecto{
    text-align: left;
}
#proyecto h2{
    text-align: center;
}
p {
    font-size: 18px;
    margin-bottom: 30px;
}
#servicios p{
    text-align: left;
}
#about ul li{
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}


/* Estilos zona de contactenos */
#contacto {
    text-align: center;
    padding: 100px 0;
    background-color: #f4f4f4;
}

form {
    max-width: 500px;
    margin: 0 auto;
}

input,
textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


/* Estilos para boton */
button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}





/* Estilos para footer*/
.footer{
    padding: 75px;
    background-color: black;
}

.footer-content{
    display: flex;
    justify-content: space-between;
}

.footer-content p{
    text-align: left;
}

.link{
    color: #F9FAFC;
}

.link h2{
    font-size: 18px;
    color:#F9FAFC;
    margin-bottom: 15px;
}

.link a{
    font-size: 16px;
    display: block;
    margin-bottom: 15px;
}


.link ul li a {
    text-decoration: none; 
    color: white;
}
.link ul li p {
    text-align: center;
}

.link ul li{
    margin-right: 10px;
    list-style-type: none;
    text-decoration: none;
}

.icono
{
    width: 35px;
    height: auto;
}

#logo{
    padding-left: 75px;
    width: 200px;
}

#userimg{
    width: 75px;
    padding-left: 2px;
}

.link ul li a:hover {
    color:#9A44FC;
    cursor: pointer;
}