body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #A0CCA6;
    margin: 0;
}


#restaurarFormulario {
    margin: 20px auto; 
    max-width: 800px;
    padding: 20px;
    background-color: #B9CFB9;
    border-radius: 20px;
    text-align: center; 
}

#restaurarFormulario label {
    margin-bottom: 10px; 
    margin-top: 10px;
}

#restaurarFormulario input {
    margin-bottom: 15px; 
    margin-top: 10px; 
}

#subirRecuperar {
    margin-top: 10px;
}

input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


button:hover {
    background-color: #45a049;
}

footer{
    position: absolute;
}
