/* Estilos generales */
body,
footer {
    font-family: 'Open Sans', sans-serif;
    background-color: #B9CFB9;
}

/* Estilos para el cuerpo*/
#negocio {
    background-color: white;
    padding: 20px;
    margin: 20px;
    margin-left: 400px;
    margin-right: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

#negocio h2 {
    text-align: left;
    margin: 30px;
    margin-top: 100px;
}

/* IMGs*/
#negocio img {
    height: 200px;
    width: 200px;
}

#negocio li img {
    height: 25px;
    width: 25px;
    margin-right: 10px;
    margin-left: 30px;
    border-radius: 20px;
}


/* Estilos listas*/
#negocio ul li {
    display: flex;
    justify-content: left;
}

.lista-logo {
    float: left;
}

.listaShareyStar {
    float: right;
    justify-content: right;
}



/* Estilos para boton */
section button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

section button:hover {
    background-color: #7e9079;
}



/* Estilos para el modal */
#modal::backdrop {
    background-color: rgba(0, 0, 0, .55);
}
input[type=text],
textarea,
input[type=number],
input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#modal {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 100;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
#modal input, #modal label{
    font-size: 20px;
    margin: 25px; 
    padding: 5px;
}
#modal input:hover{
    cursor: pointer;
}
#modal form{
    margin: 20px;
}
.swal2-container {
    z-index: 1001; 
}
#modal p2{
    font-size: 30px;
    margin: 20px;
    padding: 5px;
    color: black;
}
#modal p3{
    font-size: 20px;
    margin: 20px; 
    padding: 5px;
    color: black;
}

/* Estilos para botones */
#modal button[type="button"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer; 
    text-align: center;
    margin: 10px 0; 
}
#modal button:hover{
    background-color: #7e9079;
}
#modal button{
    margin: 10px;
    text-align: center;
}

/* Estilos para la X de salir modal */
#modal p{
    font-size: 20px;
    color: #B9CFB9;
    text-align: right;
}
#modal p:hover{
    font-size: 20px;
    text-align: right;
    color: black;
    cursor: pointer;
}


/* Estilos MENU COMPARTIR */
#menuDesplegable {
    display: none;
    position: relative;
    background-color: #4CAF50;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    list-style: none;
}

#menuDesplegable ul {
    margin: 0;
    padding: 0;
}
#menuDesplegable ul a{
    text-decoration: none;
    color: white;
}
#menuDesplegable ul a:hover{
    color: #7e9079;
}

#menuDesplegable li {
    margin: 5px 0;
}