
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #A0CCA6;
}

body form{
    padding: 15px;
    margin: 10px auto;
    width: fit-content;
    margin: auto;
    background-color: #B9CFB9;
    border-radius: 20px;
    padding-top: 10px;
}

.formulario div{
    padding:5px
}
/* Estilo formulario */
input[type=text],
textarea,
input[type=file],
input[type=tel],
input[type=radio] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=text],
select,
input[type=number],
input[type=date],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit],
input[type=button] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover,
input[type=button]:hover {
    background-color: #45a049;
}

h1{
    font-size: 20px;
    text-align: center;
}
p{
    text-align: center;
    margin-top: 10px;
}

.column{
    float: left;
    padding: 5px;
}
