/* Estilos generales */
body,
footer {
    font-family: Arial, sans-serif;
    background-color: #B9CFB9;
}

/* Estilos para el cuerpo*/
#negocio {
    background-color: white;
    padding: 20px;
    margin: 20px;
    margin-left: 400px;
    margin-right: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

#negocio h2 {
    text-align: left;
    margin: 30px;
    margin-top: 100px;
}

/* IMGs*/
#negocio img {
    height: 200px;
    width: 200px;
}

#negocio li img {
    height: 25px;
    width: 25px;
    margin-right: 10px;
    margin-left: 30px;
    border-radius: 20px;
}


/* Estilos listas*/
#negocio ul li {
    display: flex;
    justify-content: left;
}

.lista-logo {
    float: left;
}

.listaShareyStar {
    float: right;
    justify-content: right;
}



/* Estilos para boton */
section button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

section button:hover {
    background-color: #7e9079;
}



/* Estilos para el modal */
#modal::backdrop {
    background-color: rgba(0, 0, 0, .55);
}
#modal {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 100;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
#modal input, #modal label ,#modal select{
    font-size: 20px;
    margin: 30px; 
    padding: 5px;
}
#modal input:hover{
    cursor: pointer;
}
#modal form{
    margin: 20px;
}
.swal2-container {
    z-index: 1001; 
}

/* Estilos para botones */
button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer; 
    text-align: center;
    margin: 10px 0; 
}
#modal button:hover{
    background-color: #7e9079;
}
#modal button{
    margin: 10px;
    text-align: center;
}

/* Estilos para la X de salir modal */
#modal p{
    font-size: 20px;
    color: #B9CFB9;
    text-align: right;
}
#modal p:hover{
    font-size: 20px;
    text-align: right;
    color: black;
    cursor: pointer;
}