body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between; 
    background-color: #A0CCA6;
    
}
#gestionUsuarios {
    margin: 0 auto;
    max-width: 85%;
    padding: 20px;
    background-color: #B9CFB9;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 10px;

}

#barra {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 10px;
        margin-top: 10px;
        
    }

#barra nav{
    display: flex; 
    justify-content: center;
}

#primeraSeccion button {
    margin-right: 10px; 
    text-decoration: none; 
    
}



#segundaSeccion {
    margin-left: 475px; 
}
#segundaSeccion button {
    margin-right: 10px; 
    text-decoration: none; 
}
#barra button{
    width: 235px; 
    height: 50px; 
    font-size: 24px; 
    color: white;
    background-color:#82A0D8;
    border: none;
    border-radius: 5px;    
}
#barra button:hover {
    background-color: #0056b3;
    transition: background-color 0.3s ease; 
}

table th {
    font-size: 24px; 
    font-weight: bold; 
    padding: 5px 10px;
}


table td {
    font-size: 24px; 
    padding: 5px 10px;
}

table, th, td {
    border: 3px solid #000; 
}

tr button {
    width: 150px; 
    height: 50px; 
    font-size: 24px; 
    color: white;
    background-color:#E97777;
    border: none;
    border-radius: 5px;
}
tr button:hover {
    background-color: #e74c3c;
}

#ventana {
    background-color: #c3f4a9; 
    padding: 20px;
    border: none;
    border-radius: 10px;
    position: relative;
    width: 30%;
    justify-content: center;
    text-align: center;
}


#ventana:open {
    background-color: rgba(0, 0, 0, 0.7); 
}

#ventana p1
{
    font-size: 24px;
}

#botones button
{
    margin-top: 16px;
    font: 24px;
}

#afirmativoEliminar {
    background-color: #2b8a3e; 
    color: #fff;
    
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}


#negativoEliminar {
    background-color: #e74c3c; 
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}


#ventana[open] {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}