body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}


.contenedor {
    width: 60%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 25PX;
    overflow: hidden;
}

.labels, .imagen-container, .botones {
    width: 30%;
}

.labels {
    display: flex;
    flex-direction: column;
}

.imagen-container {
    text-align: center;
}

.botones {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    margin-top: 100px; 
    font-size: 24px;
    text-align: center;
}
#imagen {
    max-width: 100%;
    height: auto;
}

section button {
    margin-top: 10px;
    padding: 15px; 
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 25px;
    transition: background-color 0.3s ease;
}

#aprobarBoton {
    background-color: rgb(204, 255, 238); /* Rojo pastel */
    color: #000;
}

#rechazarBoton {
    background-color: #ffcccc; /* Rojo pastel */
    color: #000;
}

button:hover {
    background-color: #000000; /* Rojo pastel oscuro en hover */
}
