* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: #30353B;
    color: #fff;
    width: 100%;
    padding: 30px;
}

.h-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    max-width: 1200px;
    margin: auto;
}

header nav button {
    width: 250px; 
    height: 35px; 
    font-size: 20px; 
    color: white;
    background-color:#9BABB8;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
}
header button:hover {
    background-color: #9E9FA5;
}

.user-Container button
{
    
        width: 100px; 
        height: 35px; 
        font-size: 20px; 
        color: white;
        background-color:#545B77;
        margin-left: 350px;
        border: none;
        border-radius: 5px;
  
}
.user-Container button:hover

{
 background-color: #374259;

}
/* estilos para el footer */
.footer {
    padding: 50px 0;
    background-color: rgb(20, 20, 20);
    width: 100%;
    color: #F9FAFC;
}

.footer-content{
    display: flex;
    justify-content: space-between;
}
/* Esto es parte de la clase para que el codigo quede con un margen igual --Solo lo use en el footer de momento */
.container{
    max-width: 1200px;
    margin: auto;
}

#logButton:hover{
    cursor: pointer;
}

.link{
    color: #F9FAFC;
}

.link h2{
    font-size: 18px;
    color:#F9FAFC;
    margin-bottom: 15px;
}

li {
    margin-bottom: 15px;
    font-size: 16px;
}
.link ul li a {
    text-decoration: none; 
    color: white;
}
.link ul li a:hover {
    color:#5D9367;
    cursor: pointer;
}

/* cree un id redes para hacer que se vean en la misma linea */

#redes{
    display: inline-block;
    margin-right: 10px;
}

.icono{
    width: 35px;
    height: auto;
}
#logo{
    height: 60px;
}
#userimg{
    height: 35px;
    padding-left: 2px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #30353B;
    padding: 10px;
}