* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

a{
    text-decoration: none;
    color: black;
}

header{
    background-color: #30353B;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.104);
    padding: 10px 0;
    
}

header nav{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto
}

header nav div{
    display: flex;
    align-items: center;
    gap: 10px;
}

#cuentaCarrito{
    background-color: #ee6130;
    border-radius: 100%;
    display: inline-block;
    width: 20px;
    line-height: 20px;
    aspect-ratio: 1;
    text-align: center;

}

#logoICT{
    height: 60px;
}

header nav img{
    height: 25px;
}

#logButton{
    background-color: transparent;
    border: none;
    font-size: 15px;
    color: white;
}

#logButton:hover{
    cursor: pointer;
    color: #5D9367;
}

#btnRegistrar{
    background-color: transparent;
    border: none;
    font-size: 15px;
    color: white;
}

#btnRegistrar:hover{
    cursor: pointer;
    color: #5D9367;
}

/*AQUI TERMINA EL CSS DEL HEADER

CODIGO HTML:

    <header>
        <nav>
            <a href="./landingProducto.html"><img src="./img/ict-logo-2.png" id="logoICT" alt="Logo"></a>
            <div>
                <a href="#"><img src="./img/userPlaceholder.png" alt="Imagen de usuario" id="userimg"></a>
                <a href="./carritoCompra.html"><img src="./img/shopping-bag-regular-24.png" alt="Carrito de compras"><span id="cuentaCarrito">0</span></a>
                <a href="#"><button type="button" id="logButton">Log out</button></a>
            </div>
        </nav>
    </header>

*/
.footer{
    padding: 50px 0;
    background-color: rgb(20, 20, 20);
    padding-bottom: 1%;
    bottom: 0;
    width: 100%;
    margin-top: auto;
}

.footer-content{
    display: flex;
    justify-content: space-between;
}
/* Esto es parte de la clase para que el codigo quede con un margen igual --Solo lo use en el footer de momento */
.container{
    max-width: 1200px;
    margin: auto;
}

#logButton:hover{
    cursor: pointer;
}

.link {
    color: #F9FAFC;
}

.link h2 {
    font-size: 18px;
    color:#F9FAFC;
    margin-bottom: 15px;
    margin-top: 0;
}

li {
    margin-bottom: 15px;
    font-size: 16px;
}
.link ul li a {
    text-decoration: none; 
    color: white;
}
.link ul li a:hover {
    color:#5D9367;
    cursor: pointer;
}

/* cree un id redes para hacer que se vean en la misma linea */

#redes{
    display: inline-block;
    margin-right: 10px;
}

.icono{
    width: 35px;
    height: auto;
}
#logo{
    height: 60px;
}
#userimg{
    height: 35px;
    padding-left: 2px;
}



/*HTML del footer 

<footer class="footer">
<div class="footer-content container">
    <div class="link">
        <h2>Instituto Costarricense de Turismo</h2>
        <ul>
            <img src="img/ictLogoHeaderFooter.png" alt="Logo del ICT" id="logo">
            <p id="textoFooter">Telefono: +506 2299-5800</p>
            <p id="textoFooter">Horario: Lunes a Viernes de 8:00 a.m. a 4:00 p.m.</p>
            <p></p>
            <p id="textoFooter">Correo Electrónico: info@visitcostarica.com</p>
            <p id="textoFooter">Edificio ICT, Saturno, San José, Uruca, 10107</p>
        </ul>
    </div>
    <div class="link listaRedes">
        <h2>Redes Sociales</h2>
        <ul>
            <li id="redes"><a href="https://www.facebook.com/InstitutoCostarricensedeTurismoOficial/" target="_blank"><img src="./img/facebookIcon.png" class="icono" ></a></li>
            <li id="redes"><a href="https://www.youtube.com/channel/UCf4vVKxVaYpRtmFaStDfQTw" target="_blank"><img src="./img/youtubeIcono.png" class="icono"></a></li>
            <li id="redes"><a href="https://www.instagram.com/oficial_ict/" target="_blank"><img src="./img/instagramIcon.png" class="icono"></a></li>
        </ul>
    </div>
    <div class="link">
        <h2>Sitios de interes</h2>
        <ul>
            <li ><a href="#" target="_blank">Inicio</a></li>
            <li ><a href="#" target="_blank">Hazte socio</a></li>
        </ul>
    </div>

</div>
</footer>*/